<div class="wrap-canvas-menu">
    <a href="#" class="side-nav-panel-close">
        <i class="fa fa-times"></i>
    </a>
    <div id="nav-mobi">
        <nav class="mainnav">
            <ul class="menu">
                <li>
                    <a href="/" title="">Home</a>
                </li>
                <li>
                    <a href="/about-us" title="">About us</a>
                </li>
                <li>
                    <a href="/Production" title="">Production</a>
                    <ul class="sub-menu">
                        <li><a href="/strut-support-systems" title="">Support systems</a></li>
                        <li><a href="/instrument-support" title="">Instrument supports</a></li>
                        <li><a href="/modules-and-framing" title="">Modules & Framing</a></li>
                        <li><a href="/stairways-and-platforms" title="">Stairway & Platforms</a></li>
                        <li><a href="/surface-treatment" title="">Surface treatment </a></li>
                        <li><a href="/" title="">NEW CATALOG 2020</a></li>
                    </ul><!-- /.sub-menu -->
                </li>
                <li>
                    <a href="/hseq" title="">HSEQ</a>
                </li>
                <li>
                    <a href="/contact" title="">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<header id="header" class="header-style2 style2">
    <div id="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <div class="mobile-button">
                            <span></span>
                        </div>
                        <div class="logo">
                            <a id="logo" href="/"><img src="image/ESMHeaderLogo.png" alt="ESM" data-retina="image/ESMHeaderLogo.png" data-width="156" data-height="36"></a>
                        </div>
                        <div class="nav-wrap style2 mobi-hide" style="width: 65%">
                            <nav id="mainnav2" class="mainnav style2">
                                <ul class="menu">
                                    <li>
                                        <a href="/" title="">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about-us" title="">About us</a>
                                    </li>
                                    <li>
                                        <a href="/production" title="">Production <i class="fa fa-caret-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="/strut-support-systems" title="">Support systems</a></li>
                                            <li><a href="/instrument-support" title="">Instrument supports</a></li>
                                            <li><a href="/modules-and-framing" title="">Modules & Framing</a></li>
                                            <li><a href="/stairways-and-platforms" title="">Stairway & Platforms</a></li>
                                            <li><a href="/surface-treatment" title="">Surface treatment </a></li>
                                            <li><a href="/" title="">NEW CATALOG 2020</a></li>
                                        </ul><!-- /.sub-menu -->
                                    </li>
                                    <li>
                                        <a href="/hseq" title="">HSEQ</a>
                                    </li>
                                    <li>
                                        <a href="/contact" title="">Contact</a>
                                    </li>
                                    <li>
                                        <a href="/news" title="">News</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
