<header class="style1" id="header" style="height: 100px">
    <div id="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-wrap">
                        <div class="col-lg-3 col-md-3 ">
                            <a id="logo" href="/"><img src="/image/ESMHeaderLogo.png" alt="ESM" data-retina="/image/ESMHeaderLogo.png" style="max-width: 70%" data-width="250" data-height="36"></a>

                        </div>
                        <div class="col-lg-9 col-md-9 ">
                            <div class="mobile-button">
                                <span></span>
                            </div>
                            <div class="nav-wrap ">
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li>
                                            <a href="/" title="">Home</a>
                                        </li>
                                        <li>
                                            <a href="/about-us" title="">About us</a>
                                        </li>
                                        <li>
                                            <a href="/news" title="">News</a>
                                        </li>
                                        <li>
                                            <a href="/production" title="">Production <i class="fa fa-caret-down"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="/strut-support-systems" title="">Strut Support Systems</a></li>
                                                <li><a href="/instrument-support" title="">Instrument supports</a></li>
                                                <li><a href="/modules-and-framing" title="">Modules & Framing</a></li>
                                                <li><a href="/stairways-and-platforms" title="">Stairway & Platforms</a></li>
                                                <li><a href="/surface-treatment" title="">Surface treatment </a></li>
                                                <li><a href="/pdf/ESM PRODUCT CATALOG compressed.pdf" title="">NEW CATALOG 2020</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="/hseq" title="">HSEQ</a>
                                        </li>
                                        <li>
                                            <a href="/contact" title="">Contact us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- /.nav-wrap -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
