<!DOCTYPE html>
<html>
<head>
<% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1">
                <h1>About us</h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="content-wrap" >
                    <article class="post" style="font-size: 20px">
                        <div class="content-post" >
                            <h2 style="color: #00438a; margin-top: 50px">2013: the start of our strut manufacturing story with Todebo.</h2>
                            <p>
                                After several successful projects and the conclusion of contracts with Dutch companies, also with the growing demands for stable suppliers from Eastern Europe with Western European business cultures, our company Todebo was established, with the strut manufacturing headquarters in Sremska Mitrovica, Serbia. The young and enthusiastic Todebo team built the credibility of the company, during this time Todebo gained more loyal customers for which our company provides various products. Our clients come from a range of different industries, including oil and shipbuilding.
                            </p>
                        </div>
                        <div class="content-post">
                            <h2 style="color: #00438a; margin-top: 50px">ESM today</h2>
                            <p>
                                The key to continued success is in our flexibility and open cooperation with our customers. We are constantly working together to find optimal solutions in order to fulfill all requirements in terms of support and fastening products product quality. The partners and suppliers network we have developed provides the ability to quickly and reliably deliver products. This ensures full client satisfaction. Through our previous work, we have developed several new groups of products, we have improved business operations, product quality, and standards and we have cooperated with a large number of Western European companies. Our goal is to continue these high standards in the future.
                            </p>
                            <p>
                                Our expert team, as well as the standards that our company owns and successfully implements, allow us to make products that further help our customers to do their work as efficiently as possible.
                            </p>
                            <h2 style="color: #00438a; margin-top: 50px">ESM values</h2>
                            <p>
                                Product quality and safety of our employees are always present at the highest level.
                                Respect for deadlines allows customers to increase their productivity, and transparency in the business operations allows us to rapidly build trust with our partners.
                            </p>
                            <h2 style="color: #00438a; margin-top: 50px">ESM mission</h2>
                            <p>
                                From the beginning, ESM set for itself the goal of being a European leading manufacturer of Support and Fastening products.
                                Through continuous improvement of our strut manufacturing and production processes, we remain competitive while maintaining high standards of European quality.
                                ESM as a partner assists and supports the customer in his requirements to achieve the customer’s goal.
                            </p>
                            <h2 style="color: #00438a; margin-top: 50px">ESM history</h2>
                                <p>2013: The founding of the company as Todebo.</p>
                                <p>2015: At the beginning of 2015 Todebo introduced Network Attached Storage (NAS) – a system that allows business networking in order to exchange data between a large number of partners. With the aim of further increased productivity, in June 2015 Todebo invested in an ERP system. In October 2015, in the prestigious certification house, SGS Todebo introduced standards: ISO 9001, ISO 14001, and OHSAS 18001.</p>
                                <p>2016: Due to the expansion of the workload, Todebo has rented additional workspace within an existing production facility.</p>
                                <p>2017: Moved to a new location.</p>
                                <p>2018: ISO 3834-2 and EN 1090-2 are implemented in management and quality systems.</p>
                                <p>2020: Todebo changes it’s name to European Strut & Support Manufacturer, also known as ESM.</p>
                        </div>
                    </article>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="spacer" data-desktop_height="0" data-mobile_height="50" data-smobile_height="0"></div>
                <div class="sidebar-inner text-center">
                    <div class="widget widget-recent">
                        <div class="widget-img padding">
                            <img src="image/materials/todebo-eu-serbia.jpg" alt="image">
                        </div>
                        <div class="widget-img padding">
                            <img src="image/materials/todebo-Royal-Netherlands-Embassy.png" alt="image">
                        </div>
                        <div class="widget-img">
                            <img src="image/materials/dutchserbianbusiness-logo.png" alt="image">
                            <p>Dutch Serbian</p>
                            <p>Business</p>
                            <p>Association</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
