<!DOCTYPE html>
<html>
<head>
<% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1" style="padding-bottom: 30px">
                <h1><%= data[0].title %></h1>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="content-wrap" >
                    <article class="post">
                        <div class="content-post padding" >
                            <%- data[0].content_text %>
                        </div>
                    </article>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="spacer" data-desktop_height="0" data-mobile_height="50" data-smobile_height="0"></div>
                <div class="sidebar-inner text-center">
                    <div class="widget widget-recent">
                        <div class="widget-img padding">
                            <img src="image/materials/todebo-eu-serbia.jpg" alt="Our production facilities are located in Serbia">
                        </div>
                        <div class="widget-img padding">
                            <img src="image/materials/todebo-Royal-Netherlands-Embassy.png" alt="We work closely with the Netherlands Embassy">
                        </div>
                        <div class="widget-img">
                            <img src="image/materials/dutchserbianbusiness-logo.png" alt="A lot of clients come from the Netherlands">
                            <p>Dutch Serbian</p>
                            <p>Business</p>
                            <p>Association</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>
<% include partials/footerscripts.ejs %>
</body>
</html>
