<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1" style="padding-bottom: 30px">
                <h1>Der Inhalt dieser Seite folgt in Kürze.</h1>
                <h1>Informationen finden Sie bereits auf der Englischen Seite!</h1>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>
<% include partials/footerscripts.ejs %>
</body>
</html>
