<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <section class="flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1">
                <h1>Contact</h1>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="sidebar-info">
                    <div class="content-box" data-desktop_padding="117px 0px 111px 71px" data-mobile_padding="70px 0px 70px 0px" data-smobile_padding="70px 0px 70px 0px">
                        <div class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="flat-widget_text">
                                    <ul>
                                        <li>
                                            <div class="info-content">
                                                <h2>Managing Director</h2>
                                                <p>Tom de Boer</p>
                                                <p>
                                                    <a href="tel:+31 653311566">+31 653311566</a> / NL
                                                </p>
                                                <p>
                                                    <a href="tel:+381 666544433">+381 666544433</a> /SR
                                                </p>
                                                <p>
                                                    E: <a href="mailto:tdb@todebodoo.rs">tdb@todebodoo.rs</a>
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info-content">
                                                <h5 class="title">Dutch Serbian Business Organization</h5>
                                                <p>Tom de Boer Vice President</p>
                                                <p>
                                                    <a href="mailto:tom.deboer@dutchserbianbusiness.org">tom.deboer@dutchserbianbusiness.org</a>
                                                </p>
                                                <p>
                                                    <a href="www.dutchserbianbusiness-org">www.dutchserbianbusiness-org</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="sidebar-info">
                    <div class="content-box" data-desktop_padding="117px 0px 111px 71px" data-mobile_padding="70px 0px 70px 0px" data-smobile_padding="70px 0px 70px 0px">
                        <div class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="flat-widget_text">
                                    <ul>
                                        <li>
                                            <div class="info-content">
                                                <h2>IMS Manager</h2>
                                                <p>Maja Perić</p>
                                                <p>
                                                    <a href="tel:+381 22 671 543">+381(0)22 671 543</a>
                                                </p>
                                                <p>
                                                    E: <a href="mailto:maja.peric@todebodoo.rs">maja.peric@todebodoo.rs</a>
                                                </p>
                                                </br>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info-content">
                                                <h5 class="title">Production & Logistics</h5>
                                                <p>Milan Stepančević</p>
                                                <p>
                                                    <a href="tel:+381 22671543">+381 22671543</a> /SR
                                                </p>
                                                <p>
                                                    E: <a href="mailto:milan.stepancevic@todebodoo.rs">milan.stepancevic@todebodoo.rs</a>
                                                </p>
                                                <p>
                                                    E: <a href="mailto:logistics@todebodoo.rs">logistics@todebodoo.rs</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="sidebar-info">
                    <div class="content-box" data-desktop_padding="117px 0px 111px 71px" data-mobile_padding="70px 0px 70px 0px" data-smobile_padding="70px 0px 70px 0px">
                        <div class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="flat-widget_text">
                                    <ul>
                                        <li>
                                            <div class="info-content">
                                                <h2>International Sales Agent</h2>
                                                <p>Gelein Melis</p>
                                                <p>
                                                    <a href="tel:+31 111 407 280">+31 111 407 280</a>
                                                </p>
                                                <p>
                                                    <a href="mailto:todebo@christopherconsulting.nl">todebo@christopherconsulting.nl</a>
                                                </p>
                                                </br>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="info-content">
                                                <h5 class="title">Finance & administration</h5>
                                                <p>Marina Pelić</p>
                                                <p>
                                                    <a href="tel:381 22 671 346">+381 22 671 346</a> /Office
                                                </p>
                                                <p>
                                                    E: <a href="mailto:office@todebodoo.rs">office@todebodoo.rs</a>
                                                </p>
                                                <p>
                                                    E: <a href="mailto:finance@todebodoo.rs">finance@todebodoo.rs</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<section class="flat-map"></section>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
