<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 30px">
                <h1>HSEQ</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding dots">
                            <h2>Health - Safety - Environment</h2>
                            <p>
                                The responsible use of nature and its resources, the protection of human health and the environment are basic principles of our business operations. We are aware of our responsibility towards our colleagues, suppliers, and everyone involved in the production process, as well as towards the environment whose resources we responsibly use. Through the production activity, we continuously take care of health, safety, and the environment (HSE)
                            </p>
                            <p>
                                The Health, Safety and Environment field is the responsibility of our IMS Manager within the organization, this is monitored by our external HSE manager, and together they ensure that all ESM procedures, laws and regulations are adhered to.
                            </p>
                            <p>
                                The HSE Manager maintains environmental health and safety procedures involving hazard identification evaluation and control, accident/injury prevention, hazardous material/waste management, emergency preparedness, fire/life safety, ergonomics, industrial hygiene, and environmental regulatory compliance.
                            </p>
                        </div>
                        <div class="content-post padding dots darkbluehover ">
                            <h2>Certifications and standards</h2>
                            <p>
                                Up from 2015, we hold all the relevant certifications (ISO 9001, ISO 14001, and OHSAS 18001), all with regard to working conditions and safety as well as the environment. In addition, our employees are given all the training from our HSE Manager that they need and hold all the necessary certificates.                            </p>
                            <p>
                                Up from 2018, we extended our production processes with quality standards ISO 3834-2 n and EN 1019-2.
                            </p>
                            <ul>
                                <li><strong>ISO 9001:2015  quality management standard.</strong></li>
                            </ul>
                            <p>
                                We constantly monitor and make improvements to the quality of our products, the quality of our relationships with customers and suppliers, and the quality of our internal organization.
                                <a style="font-style: italic" href="https://www.iso.org/iso-9001-quality-management.html"> More information about this certification</a>
                            </p>
                            <ul>
                                <li><strong>ISO 14001:2015 Environmental management standard.</strong></li>
                            </ul>
                            <p>
                                Our operations are energy-efficient, we use raw materials sparingly and we separate our waste. We monitor consumption and are continually making adjustments in order to improve our performance in this area.
                                <a style="font-style: italic" href="http://www.iso.org/iso/iso14000">More information about this certification</a>
                            </p>
                            <ul>
                                <li><strong>OHSAS 18001:2007</strong></li>
                            </ul>
                            <p>
                                OHSAS 18001 is an International Standard that specifies requirements for an occupational health and safety (OH&S) management system, with guidance for its use, to enable an organization to proactively improve OH&S performance in preventing injury and ill-health.
                                <a style="font-style: italic" href="https://www.iso.org/standard/63787.html">More information about this certification</a>
                            </p>
                            <ul>
                                <li><strong>NEN-EN 3834-2:2015 Quality standard for fusion welding of metallic materials</strong></li>
                            </ul>
                            <p>
                                This standard sets the quality requirements for the production and determines the quality assurance principles of the welded products. With this, the high quality of your products is already guaranteed during production.
                                <a style="font-style: italic" href="https://www.iso.org/standard/35145.html">More information about this certification</a>
                            </p>
                            <ul>
                                <li><strong>NEN-EN 1090-2 Quality standard for steel constructions</strong></li>
                            </ul>
                            <p>
                                Standard for steel (and aluminum) constructions which have to comply with the company and our individual welders.
                                <a style="font-style: italic" href="https://standards.cen.eu/dyn/www/f?p=204:110:0::::FSP_PROJECT,FSP_LANG_ID:40873,25&cs=19C590C8BE3B5B739197B9D0BA359C26B">More information about this certification</a>
                            </p>
                            <ul>
                                <li><strong>CE marking and conformity</strong></li>
                            </ul>
                            <p>
                                The CE marking represents a manufacturer's declaration that products comply with the EU's New Approach Directives.
                            </p>
                            <p>
                                Besides the annual inspections by certification bodies, we also carry out inspections ourselves. Our inspections are based on random checks made at the beginning and end of our production processes. So we can guarantee the highest level of quality as standard
                            </p>
                        </div>

                    </article>

                </div>
            </div>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 text-center darkbluehover" style="padding-top: 30px; padding-bottom: 30px;">

                <div class="col-lg-offset-1 col-md-offset-1 col-xs-offset-3 col-lg-2 col-md-2 col-sm-12 col-xs-6">
                    <a href="/pdf/ISO 9001_2020.pdf"><img src="image/materials/HomePageISO9001Transparent.png" alt="ISO 9001:2015 certificate image"></a>
                    <p><a href="/pdf/ISO 9001_2020.pdf">ISO 9001:2015</a></p>
                </div>
                <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-2 col-md-2 col-sm-12 col-xs-6">
                    <a href="/pdf/ISO%2014001_2020.pdf"><img src="image/materials/HomePageISO14001Transparent.png" alt="ISO 14001:2015 certificate image"></a>
                    <p><a href="/pdf/ISO%2014001_2020.pdf">ISO 14001:2015</a></p>
                </div>
                <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-2 col-md-2 col-sm-12 col-xs-6">
                    <a href="/pdf/ISO%2018001_OHSAS_2020.pdf"><img src="image/materials/HomePageOHSAS18001Transparent.png" alt="OHSAS 18001:2015 certificate image"></a>
                    <p><a href="/pdf/ISO%2018001_OHSAS_2020.pdf">OHSAS 18001:2015</a></p>
                </div>
                <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-2 col-md-2 col-sm-12 col-xs-6">
                    <a href="/pdf/ISO-3834_2018-1.5-MB_1.-strana-sertifikata.pdf"><img src="image/materials/HomePageENISOTransparent.png" alt="EN ISO 3834-2 certificate image"></a>
                    <p><a href="/pdf/ISO-3834_2018-1.5-MB_1.-strana-sertifikata.pdf">EN ISO 3834-2</a></p>
                </div>
                <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-2 col-md-2 col-sm-12 col-xs-6" style="padding-bottom: 30px">
                    <a href="/pdf/WPQR-0036-SRB-18-05-219-001-1.pdf"><img src="image/materials/HomePageEN1090Transparent.png" alt="EN 1090-2 certificate image"></a>
                    <p><a href="/pdf/WPQR-0036-SRB-18-05-219-001-1.pdf">EN 1090-2</a></p>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding dots">
                            <h2>Quality</h2>

                            <p>
                                The aim of our business is quality and 'just in time’ delivery. By selecting reliable suppliers and subcontractors, the final products fulfill all standards agreed with the clients.
                            </p>
                            <p>
                                Due to the production software that analyses, plans, and controls the entire production process from the moment of order up to the delivery and highly motivated team, the quality of ESM products and services exceeds all customer's expectations.
                            </p>
                            <p>
                                With certified welders and the ISO 3834-2 and EN 1090-2 standards, we guarantee the quality of our products.
                            </p>
                            <h2>Approval</h2>
                            <p>
                                Products (groups) can be supplied on request with approval for each preferred certificate and/or other demanding classes by the standards of:
                            </p>
                            <ul>
                                <li>FM (Factory Mutual)</li>
                                <li>Fire classification</li>
                                <li>UL (Underwriter Laboratories)</li>
                                <li>VdS Approval</li>
                                <li>DoP (Declaration of Performance)</li>
                                <li>CoC (Certificate of conformity)</li>
                                <li>RAL (Gutezeichen)</li>
                            </ul>
                            <h2>Tests</h2>
                            <ul>
                                <li>Maximum allowed Load & Stress tests</li>
                                <li>Destructive weld testing</li>
                            </ul>
                            <p>
                                We are continuously improving the production process and increasing the quality system which allows us to operate more efficiently and therefore to assist our customers' needs.
                            </p>
                        </div>

                    </article>
                    <div class="centar1" style="padding-top: 0px">
                        <a href="/company-certificates" class="download hvr-shutter-out-verticall contactbtn" style="line-height: 45px">Company certificates</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>
<% include partials/footerscripts.ejs %>
</body>
</html>
