<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h1 style="color: #00438a;">Health - Safety - Environment - Quality</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post dots">
                            <p>
                                The responsible use of nature and its resources, the protection of human health and the environment are basic principles of our business operations. We are aware of our responsibility towards our colleagues, suppliers, and everyone involved in the production process, as well as towards the environment whose resources we responsibly use. Through the production activity, we continuously take care of health, safety, environment, and quality (HSEQ). The success in the area of HSEQ and the fulfillment of the most demanding industry standards, we provide by applying defined rules and procedures during the operation in everyday work.
                            </p>
                            <p>
                                The reputation in the field of HSEQ leaves a positive effect on the entire organization, therefore we constantly strive to maintain the following objectives
                            </p>
                            <ul>
                                <li>The realization of long-term employment: zero accidents at work, increased safety awareness, and prevention of injuries and absences.</li>
                                <li>Creating and preserving the reputation of a good employer.</li>
                                <li>Recognition, acceptance, and minimization of risk.</li>
                                <li>Preservation of the environment: Minimization of the negative impact on and preventing damage to the environment.</li>
                                <li>Fulfillment of demands, desires, and expectations of our clients and subcontractors.</li>
                            </ul>
                        </div>
                        <div class="content-post dots">
                            <p>
                                Each employee has specific obligations in the execution of his tasks. Also, all employees are entitled to start or stop the activities within the rules and procedures if, according to their sole discretion, there is a risk and the task cannot be carried out in accordance with the rules of safety and the requirements related to the preservation of the natural environment. It is their duty to immediately notify their supervisor.
                            </p>
                            <p>
                                This type of business operation is achieved in the following ways:
                            </p>
                            <ul>
                                <li>We have professional people to carry out activities.</li>
                                <li>We use a certified HSEQ Management System.</li>
                                <li>We strive to ensure that the appropriate means of protection and safety at work are available for the protection of people, materials, and the environment as much as possible.</li>
                                <li>We remove and/or reduce the risk of carrying out our activities, in order to not expose our employees and other associates to industrial hazards.</li>
                                <li>We continuously search for methods and/or auxiliary means which have the smallest possible negative effect on the environment.</li>
                                <li>We freely talk about our achievements in the field of HSEQ.</li>
                                <li>We create an environment in which our employees and other associates are committed to achieving the objectives in the area of HSEQ.</li>
                            </ul>
                            <p>
                                We are taking care of our suppliers, customers, and our employees, simultaneously with environment protection. We have a zero-waste policy (ISO 14001) and we believe in recycling.
                            </p>

                        </div>
                    </article>

                </div>
            </div>
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 text-center" style="padding-top: 40px; padding-bottom: 40px;">

                <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/HomePageISO9001Transparent.png" alt="ISO 9001:2015 certificate image">
                    <a href="/"><p>ISO 9001:2015</p></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/HomePageISO14001Transparent.png" alt="ISO 14001:2015 certificate image">
                    <a href="/"><p>ISO 14001:2015</p></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/HomePageOHSAS18001Transparent.png" alt="OHSAS 18001:2015 certificate image">
                    <a href="/"><p>OHSAS 18001:2015</p></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/HomePageENISOTransparent.png" alt="EN ISO 3834-2 certificate image">
                    <a href="/"><p>EN ISO 3834-2</p></a>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/HomePageEN1090Transparent.png" alt="EN 1090-2 certificate image">
                    <a href="/"><p>EN 1090-2</p></a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h1 style="color: #00438a;">QUALITY SYSTEM</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post dots">
                            <p>
                                The aim of our business is quality and ‘just in time’ delivery. By selecting reliable suppliers and subcontractors, the final products fulfill all standards agreed with the clients. Due to the SAP system that analyses, plans, and controls the entire production process from the moment of order up to the delivery and highly motivated team, the quality of ESM products and services exceeds all expectations.
                            </p>
                            <p>
                                With certified welders and the ISO 3834-2 and EN 1090-2 standards, we guarantee the quality of our products.
                            </p>
                            <h2 style="color: #00438a; padding-top: 40px">Certificates</h2>
                            <ul>
                                <li>Products can be supplied with approval for each preferred certificate and/or other demanding classes by the standards of Lloyd’s, ABS, DNV, GL, BV, and other consulting firms;</li>
                                <li>Welding can be performed by the certificate (PED, KIWA, ASME), and according to requirements there are other possible approvals or certificates</li>
                                <li>Various certificates are available on request.</li>
                            </ul>
                        </div>
                        <div class="content-post">
                            <p>
                                We are continuously improving the production process and increasing the quality system which allows us to operate more efficiently and therefore to assist our customers' needs.</br>
                                A production code or LOT number is stamped on the labeling and packaging of all strut and fittings items.</br>
                                We keep records of all LOT and transport numbers to maintain traceability of the products which are to the ISO 3734-2 and EN 1090 EX II standards.
                            </p>

                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
