<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs%>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class="flat-slider style2">
    <!-- SLIDER -->
    <div class="rev_slider_wrapper fullwidthbanner-container" >
      <div id="rev-slider2" class="rev_slider fullwidthabanner">
        <ul>
          <!-- Slide 2 -->
          <li data-transition="random">
            <!-- Main Image -->
            <img src="image/materials/sld1.jpg" alt="image" data-bgposition="center center" data-no-retina>
            <div class="overlay"></div>
          </li><!-- /End Slide 2 -->

          <!-- Slide 3 -->
          <li data-transition="random">
            <!-- Main Image -->
            <img src="image/materials/sld3.jpg" alt="image" data-bgposition="center center" data-no-retina>
            <div class="overlay"></div>

          </li><!-- /End Slide 3 -->
          <!-- Slide 1 -->
          <li data-transition="random">
            <img src="image/materials/sld4.png" alt="image" data-bgposition="center center" data-no-retina>
            <div class="overlay"></div>

          </li><!-- /End Slide 1 -->
        </ul>
      </div>
    </div>
  </div>
  <div class="main-home2">
    <section style="background-color: #00438a">
      <div class="row" style="margin-right: 0px;">
        <div class="col-lg-12">
          <div class="title-section style1">
            <h2 style="color: #fff">ESM is a European manufacturer and fabricator of metal Strut Supports and Fastening products for wholesalers.</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="flat-our-services style2">
      <div class="container-fluid">
        <div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 50px">
          <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-3 col-md-3 col-sm-12">
              <img src="image/materials/HomePageISOIconTransparent.png" alt="image">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 lineheight">
              <h3 style="padding-top: 15px">ISO Certified</h3>
              <p>We deliver ISO certified high-quality products to a wide range of industries.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-3 col-md-3 col-sm-12">
              <img src="image/materials/HomePageEuropeIconTransparent.png" alt="image">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 lineheight">
              <h3 style="padding-top: 15px">European Based</h3>
              <p>ESM is a Dutch company founded in 2013. under the name “Todebo”, with production facilities based in Serbia.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-3 col-md-3 col-sm-12 ">
              <img src="image/materials/HomePageManufacturingIconTransparent.png" alt="image">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 lineheight">
              <h3 style="padding-top: 15px">Manufacturing a Wide Range of Support Systems</h3>
              <p>European Strut & Support Manufacture engages in serial production of metal construction parts and components for wholesalers and wholesale customers.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-3 col-md-3 col-sm-12">
              <img src="image/materials/HomePageIndustryIconTransparent .png" alt="image">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 lineheight" >
              <h3 style="padding-top: 15px">Our Clients Come From a Wide Range of Different Industries</h3>
              <p>Including oil, shipbuilding, wind energy and construction.</p>
              </div>
            </div>
          </div>
          <div class="centar1">
            <a href="/contact" class="download hvr-shutter-out-verticall" style="width: 300px" >Contact Us</a>
          </div>

        </div>

        <div class="row" style="margin-right: 0px;">
          <div class="col-lg-12">
            <article class="post post-wrap clearfix">
              <div class="col-lg-3 text-center">
                <img src="image/materials/HomePageStrutTransparent.png" alt="image">
              </div>

              <div class="content-post padding">
                <h2 style="padding-bottom: 30px">Manufacturing Capabilities and Capacities</h2>
                <p>
                  Application of “just-in-time” methods in cooperation with carefully selected reliable partners and contractors, guarantees quality and prompt delivery of various steel, stainless steel, and aluminum products.
                  For the above-pictured branches of industry, we produce :</p>
                <ul>
                  <li> • Support Systems & Strut Brackets</li>
                  <li> • Instrument Supports</li>
                  <li> • Modules, Framing & Assembling</li>
                  <li> • Solar Mounting Systems</li>
                  <li> • Stairways and Platforms</li>
                </ul>

                <p>
                  The above-mentioned products can be delivered in the standard measurements or bespoke for your requirements.
                </p>
                <p>
                  We also supply prefabricated Bracketry including fixing equipment as a complete kit, as well as complete modules including cable trays and conduit/tubes.
                </p>
                <p>
                  ESM is a Dutch company founded in 2020., as a strut producer primarily, with our production location in Serbia. In addition to the Serbian language, our management team speaks fluent English and Dutch languages, which allows us to effectively establish cooperation with our customers and suppliers from all over Europe. Knowledge and experience from both markets in Western and Eastern Europe allow us to be flexible and to respond to the diverse quality demands and needs of our clients.
                  Our primary goal is to allow our customers to improve their business operations by increasing their productivity and profitability using our products and services which follow high-quality standards and certificates such as ISO 9001, ISO 14001, and ISO 18001.
                </p>
                <p>
                  Our products are manufactured in accordance with various high-quality standards and certifications, such as ISO 9001, ISO 3834-2, and EN 1090-2, allowing us to apply the CE marking to your products.
                </p>
                <p>
                  With the ISO 14001 and ISO 18001 certifications, we meet the required standards in the field of safety and the environment. We are constantly working on the development and introduction of new technologies and improving our business operations to make our products even more efficient. Our ambition is to produce strut support systems of unmatched quality.
                </p>
              </div>

              <div class="content-post padding">
                <h2 style="padding-bottom: 30px">European Management and European Customers</h2>
                <p>
                  In addition to the Serbian language, our management team speaks fluent English and Dutch languages, which allows us to effectively establish cooperation with our customers and suppliers from all over Europe.
                </p>
                <p>
                  Knowledge and experience from both markets in Western and Eastern Europe allow us to be flexible and to respond to the diverse quality demands and needs of our clients.
                </p>
              </div>
              <div class="content-post padding">
                <h2 style="padding-bottom: 30px">Dedicated to Producing High-Quality Products Only</h2>
                <p>
                  Our primary goal is to allow our customers to improve their business operations by increasing their productivity and profitability using our products and services which follow high-quality standards and certificates such as ISO 9001, ISO 14001, and ISO 18001.
                </p>
                <p>
                  Our products are manufactured in accordance with various high-quality standards and certifications, such as ISO 9001, ISO 3834-2, and EN 1090-2, allowing us to apply the CE marking to your products.
                </p>
                <p>
                  With the ISO 14001 and ISO 18001 certifications, we meet the required standards in the field of safety and the environment. We are constantly working on the development and introduction of new technologies and improving our business operations to make our products even more efficient. Our ambition is to produce strut support systems of unmatched quality.
                </p>
              </div>
            </article>

          </div>
        </div>
        <div class="centar1" style="padding-top: 0px">
        <a href="/contact" class="download hvr-shutter-out-verticall" style="width: 300px" >Contact Us</a>
        </div>



      </div>
    </section>
    <section style="background-color: #00438a">
      <div class="row" style="margin-right: 0px;">
        <div class="col-lg-12">
          <div class="title-section style1">
            <h1>Download the New Catalogue 2020 (<a href="/pdf/ESM PRODUCT CATALOG compressed.pdf" style="color: #fff">pdf</a>, flip book)</h1>
            <h2 style="color: #fff">For more information about any items in our Cantilever and Bracket range do not hesitate to contact us.</h2>
          </div>
        </div>
      </div>
    </section>

  </div>

  <% include partials/footer.ejs %>

  <div id="scroll-top"><i class="fa fa-angle-up"></i></div>
  <% include partials/footerscripts.ejs %>
  </body>
</html>
