<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 30px">
                <h1 style="color: #00438a;">Instrument Supports: Industrial Instrument Stands </h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding ">
                            <p>
                                Instrument stands, or instrument supports are used to mount various measurement instruments or control devices.
                            </p>
                            <p>
                                <strong>ESM manufactures instrument stands using schedule welded pipe,</strong> Ø 48,3 mm on 15 mm thick base plates with round or slotted holes, gussets if requested, and a rounded cap on the top of the pipe opening to prevent standing water.
                            </p>
                            <p>
                                We can also design and manufacture <strong>non-standard instrument supports</strong> to fit your requirements.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding dots">
                            <p>
                                <strong>Range of products:</strong>
                            </p>
                            <ul>
                                <li>Single and double floor stand.</li>
                                <li>Wall mount stands.</li>
                                <li>Pipe mount stand.</li>
                                <li>Cable mount stand.</li>
                                <li>Tech – mount modular.</li>
                                <li>Framing from C channel 41x41x2.5 mm.</li>
                            </ul>
                            <p>With high-quality standards and a wide range of products ESM positioned itself as an instrument support provider for a number of different industries and clients.</p>
                        </div>
                    </article>

                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 40px; padding-bottom: 40px;">

                <div class="col-lg-3 col-md-2 col-sm-12">
                    <img src="image/materials/Industrial-Instrument-1.jpg" alt="A double floor stand we produce">
                    <p>Mass Production</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/Industrial-Instrument-2.jpg" alt="Our wall mount product">
                    <p>Cantilevers</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/Industrial-Instrument-3.jpg" alt="Our pipe mount product">
                    <p>Heavy Duty</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/Industrial-Instrument-4.jpg" alt="SM’s cable mount product">
                    <p>Fitting</p>
                </div>

            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
