<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 30px">
                <h1>Modular Framing & Assembling</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding">
                            <h2>Modular Framing & Prefabrication</h2>
                            <p>
                                Prefabricated modules regularly increase profit margins and decrease expenses, by realizing maximum quality output and continuity and reduced completion times on site.</br>
                                With our <strong>41x41x2.5 mm channels,</strong> all parts fit consistently, providing the maximum number of supports and framing applications with the minimum amount of labor and materials.</br>
                                <strong>Prefab Module solutions</strong> will increase project efficiency and eliminate the time spent waiting for materials. Even the most fast-tracked projects can be better managed and timely completed.

                            </p>
                        </div>
                        <div class="content-post padding dots" >
                            <h2>Conduit Trapeze Supports</h2>
                            <p>
                                Trapeze hangers are the most commonly used supporting method in the industry.
                                Applications are most often used to support metal, plastic, aluminum, and fiberglass conduit and tray systems.</br>
                                Due to the ever-increasing site costs and deadlines, we offer <strong>prefabricated supports including pipe clamps and fixing materials in one kit.</strong>
                            </p>
                            <p>
                                Service which helps in:
                            </p>
                            <ul style="padding-bottom: 30px">
                                <li>Reduced Site Installation.</li>
                                <li>Reduces Site Storage.</li>
                                <li>The bracketry can be designed to Client’s Specifications.</li>
                                <li>Factory Assembled Ensuring Accuracy And Consistency In Quality.</li>
                                <li>Bracket Loadings & Pull Out Tests Can Be Undertaken.</li>
                            </ul>
                            <p>Bracketry can also be supplied as a kit of parts.</p>
                        </div>
                        <div class="content-post padding dots" >
                            <h2>Modular Assembling</h2>
                            <p>
                                C channels can be cut to specific lengths and bundled as entire assemblies for quick and easy field installation.</br>
                                We can assemble a combination of <strong>Cantilever arms with brackets including strut-nuts</strong> and all requested fixing material as a total package. metal, plastic, aluminum, and fiberglass conduit and tray systems.</br>
                                We can offer all the brackets and fittings we produce pre-assembled with strut nuts of your requirement.</br>
                                ESM can offer a wide range of expertise and services to supply custom solutions to suit the modular framing & assembling needs of any project.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="col-lg-3 col-md-2 col-sm-12 padding">
                    <img src="image/materials/Modules-Framing-1-1.jpg" alt="Conduit trapeze support product">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 padding">
                    <img src="image/materials/Modules-Framing-2.jpg" alt="A c channel assembling product">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 padding">
                    <img src="image/materials/Modules-Framing-3.jpg" alt="ESM’s trapeze hangers">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/Modules-Framing-4.jpg" alt="An example of the cantilever arm we produce">
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
