<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-post">
    <div class="container">
        <div class="row straight">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <article class="post post-wrap">
                    <div class="featured-post">
                        <div class="post-img">
                            <a href="/news/post1">
                                <img src="/image/materials/gangway.jpg" alt="image">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                    <div class="content-post">
                        <div class="meta-post meta-post-shared">
                            <ul>
                                <li class="active">06 October, 2020</li>
                            </ul>
                        </div>
                        <h3><a href="/news/post1">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</a></h3>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <h4 class="box-line"><a href="/news/post">READ MORE</a><span class="line"></span></h4>
                    </div>
                </article>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="blog-pagination">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">01</a>
                        </li>
                        <li>
                            <a href="#">02</a>
                        </li>
                        <li>
                            <a href="#">03</a>
                        </li>
                        <li>
                            <a href="#">04</a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
