<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1" style="padding-bottom: 30px">
                <h1>Production</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post" style="font-size: 20px">
                        <div class="content-post padding">
                            <p>
                                European Strut & Support Manufacturer (ESM) specializes in serial production of metal construction parts for <strong>Electrical installations, HVAC, and fire protection applications.</strong>
                                The satisfaction of our clients is our top priority. We, therefore, build long-term relationships, trust, and mutual understanding with our customers and suppliers. In addition to these principles, at each stage of our business operations, we deliver high-quality products. This starts with our communication with clients, quality control of our suppliers, and then through the development and finalization of production up to and including the delivery of the product to you.
                            </p>
                            <p>
                                What makes our products have a consistently high quality, is the experience of our team and associates in a variety of areas. Thanks to the equipment and technology that we use, as well as our flexible shift pattern, we have the capacity to satisfy even your highest demands for the production of the desired strut and support products in a short period of time.
                            </p>
                            <h2>Quality</h2>
                            <p>
                                The welding procedures used in the fabrication of our steel products are in accordance with <strong>ISO 3834-2 and EN 1090 EX II Standards.</strong> This allows us to apply the CE marking to the products.
                            </p>
                            <p>
                                To help achieve the highest quality in our manufacturing processes, including strut manufacturing, our welders are certified and follow standards set by the <strong>ISO 3834-2.</strong>
                                Spot welded back-to-back channels are manufactured using a DC powered resistance welder. This produces a series of spot welds with speed and consistency. Consistency is one of the most important advantages of manufacturing back-to-back channels. Variables such as weld sequence, speed, and duration are carefully controlled and monitored by our production and quality processes.
                            </p>
                            <p>
                                Our <strong>quality testing process</strong> is performed externally and this includes destructive or non-destructive testing, which results in high-quality welds. All our welding processes are monitored by our <strong>IWE (International Welding Engineer)</strong> and our IMS manager. This is why, as a strut manufacturer, ESM represents a reliable and trusted partner.
                            </p>

                        </div>
                    </article>

                </div>
            </div>
        </div>

    </div>
</div>
<section class="flat-team">
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <article class="post">
                    <div class="featured-post img-hover">
                        <img src="image/materials/prod-1.jpg" alt="One of the strut support products we manufacture">
                        <div class="social white">
                            <h2>Strut Support systems</h2>
                            <a href="/strut-support-systems">Read more</a>
                        </div>
                    </div>
                    <div class="content-post">
                        <span>Strut Support systems</span>
                    </div>
                </article>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <article class="post">
                    <div class="featured-post img-hover">
                        <img src="image/materials/instrument-supports.jpg" alt="One of the instrument support products we manufacture">
                        <div class="social white">
                            <h2>Instrument support</h2>
                            <a href="/instrument-support">Read more</a>
                        </div>
                    </div>
                    <div class="content-post">
                        <span>Instrument support</span>
                    </div>
                </article>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <article class="post">
                    <div class="featured-post img-hover">
                        <img src="image/materials/modules-framing.jpg" alt="One of the modules & framing products we manufacture">
                        <div class="social white">
                            <h2>Modules & Framing</h2>
                            <a href="/modules-and-framing">Read more</a>
                        </div>
                    </div>
                    <div class="content-post">
                        <span>Modules & Framing</span>
                    </div>
                </article>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <article class="post">
                    <div class="featured-post img-hover">
                        <img src="image/materials/prod-3.jpg" alt="One of the industrial platforms & stairs products we manufacture">
                        <div class="social white">
                            <h2>Stairways & Platforms</h2>
                            <a href="/stairways-and-platforms">Read more</a>
                        </div>
                    </div>
                    <div class="content-post">
                        <span>Stairways & Platforms</span>
                    </div>
                </article>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <article class="post">
                    <div class="featured-post img-hover">
                        <img src="image/materials/Surface-treatment.jpg" alt="A surface treatment example from our production facility">
                        <div class="social white">
                            <h2>Surface treatment</h2>
                            <a href="/surface-treatment">Read more</a>
                        </div>
                    </div>
                    <div class="content-post">
                        <span>Surface treatment</span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
