<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h1 style="color: #00438a;">Metal Stairways & Platforms</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap" style="padding-left: 45px ">
                    <article class="post">
                        <div class="content-post">
                            <h2 style="color: #00438a; margin-top: 50px">The Perfect Fit</h2>
                            <p>
                                In today’s world of regulated work environments and safety compliance obligations, a workplace needs to make sure that it is not only efficient for productivity but also that it addresses employee safety in the right way. </br>
                                Our metal stairways & platforms products are made with that in mind.
                            </p>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap" style="padding-left: 45px ">
                    <article class="post">
                        <div class="content-post">
                            <h2 style="color: #00438a; margin-top: 50px">Custom Made For Your Industry</h2>
                            <p>
                                Many industries solve their height access issues with standard off the shelf solutions. But sometimes that isn’t enough. </br>
                                A workplace may present challenges with access to heights over certain obstacles and too uncommon equipment and structure heights. </br>
                                Short of getting customized solutions designed and manufactured to your specifications, you need a supplier who understands common height access issues in a variance of industries and already has the solution ready to go. </br>
                                That supplier is ESM, a professional in specialized access equipment like metal stairways & platforms.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap" style="padding-left: 45px ">
                    <article class="post">
                        <div class="content-post dots">
                            <h2 style="color: #00438a; margin-top: 50px">ESM has the capability for serial manufacturing of tailor-made access equipment:</h2>
                            <ul>
                               <li>Industrial access stairway ladder.</li>
                                <li>Portable and permanent handrail system.</li>
                                <li>Crossover ladders.</li>
                                <li>Maintenance platforms.</li>
                                <li>Maintenance platforms.</li>
                                <li>Dock ladders and gangways.</li>
                                <li>Boat landing with integrated ladders.</li>
                            </ul>
                            <p>
                                Below you can see examples of some of our metal & stairways and platforms.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 40px; padding-bottom: 40px;">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/galvanised.jpg" alt="image">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/gangway.jpg" alt="image">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <img src="image/materials/stepenice2.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
