<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 30px">
                <h1>Strut Support Systems: Strut Supports & Brackets </h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding">
                            <p>
                                We produce all types and dimensions of available strut support systems including C channels, cantilever arms with additional brackets and fittings, complete systems with solutions of all types of hanging cable strips, cables, pipes, and ventilation duct systems.                            </p>
                            <p>
                                Working closely with our customers we can also produce bespoke supports and fittings tailor-made for your project.
                            </p>
                            <p>
                                Strut support systems are manufactured serially, or at your request, and can be custom made just for your project. There are various surface treatments to suit your needs, such as electro galvanization or hot-dip galvanizing.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding dots">
                            <p>
                                Range of products:
                            </p>
                            <ul>
                                <li>C channels in all required dimensions.</li>
                                <li>Creating and preserving the reputation of a good employer.</li>
                                <li>Recognition, acceptance, and minimization of risk.</li>
                                <li>Preservation of the environment: Minimization of the negative impact on and preventing damage to the environment.</li>
                                <li>Fulfillment of demands, desires, and expectations of our clients and subcontractors.</li>
                            </ul>
                            <p>All products are packed and labeled in accordance with customer requirements.</p>
                            <p>Strut support systems are used in the following industries:</p>
                            <ul>
                                <li>Industry, halls, buildings, and larger facilities.</li>
                                <li>Roof support systems for HVAC installations.</li>
                                <li>Factories, for indoor and outdoor installation. </li>
                            </ul>
                            <p>Heavy-duty support systems are used for:</p>
                            <ul>
                                <li>Electrical power transmission and network (short and long-distance)</li>
                                <li>Refineries and heavy industry (on and off-shore)</li>
                                <li>Heavy-duty pipe support systems</li>
                            </ul>
                            <p>When it comes to strut support systems ESM is committed to providing consistent high-quality products.</p>
                        </div>
                    </article>

                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 30px; padding-bottom: 30px;">

                <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/BRACKETS.jpg" alt="Mass production metal parts from our production facility">
                    <p>Mass Production</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/cantilevers.jpg" alt="A cantilever arm we manufacture">
                    <p>Cantilevers</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/SISTEMI-.jpg" alt="Some of the heavy duty products we manufacture">
                    <p>Heavy Duty</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/Fitting.jpg" alt="Showcases a range of fittings we produce">
                    <p>Fitting</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12">
                    <img src="image/materials/baseplate.jpg" alt="An example of the baseplate we produce">
                    <p>Baseplate</p>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
