<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header.ejs %>
<div class="main-blog-single">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-bottom: 30px">
                <h1>Surface Treatment</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="content-wrap">
                    <article class="post">
                        <div class="content-post padding">
                            <p>
                                ESM provides its customers with a complete service and offers surface treatments with the help of carefully selected associates, these operate under the supervision of our Team.</br>
                                The surface treatment depends on your needs and requirements. For example:</br>
                                Surface treatment preparations can be carried out by following the ISO 8501 and ISO 8502 standards, which is often required in the off-shore industry.</br>
                                The most common types of surface treatment of metals are the following:
                            </p>
                        </div>
                        <div class="content-post padding" >
                            <h2>Electro Galvanization</h2>
                            <p>
                                Is a galvanization electrolytic process. A thinner, tighter bonding coat of zinc is applied to metal through “electroplating”. Electroplating is a process of running a current of electricity through a saline/zinc solution with a zinc anode and steel conductor. In this process, an electric current is passed through a zinc compound, which positively charges the zinc ions to adhere more securely to the conductive primary metal. Electro-galvanizing surface treatment provides a better metal surface virtually saturating the metal with zinc, the layer of thickness is 8-15 microns.
                            </p>
                            <p>
                                ISO 1461:2009 specifies the general properties of coatings and test methods for coatings applied by dipping fabricated iron and steel articles (including certain castings) in a zinc melt (containing not more than 2% of other metals).
                            </p>

                        </div>
                        <div class="content-post padding" >
                            <h2>Hot-dip Galvanizing</h2>
                            <p>
                                It is the process of coating iron, steel, or aluminum with a thin zinc layer by passing the metal through a molten bath of zinc at a temperature of around 460⁰ C. When exposed to the atmosphere, the pure zinc reacts with oxygen to form zinc oxide, which further reacts with carbon-di-oxide to form zinc carbonate, a dull grey, fairly strong material that stops further corrosion in many situations.
                            </p>
                            <p>
                                It protects the steel below from the elements and achieves long-term corrosion resistance.</br>
                                During the hot-dip galvanizing, the prepared material is immersed in molten zinc at the temperature of 430-460 ° C., layer thickness 50-70 microns.
                            </p>
                            <p>
                                ISO 1461:2009 specifies the general properties of coatings and test methods for coatings applied by dipping fabricated iron and steel articles (including certain castings) in a zinc melt (containing not more than 2% of other metals).
                            </p>
                        </div>
                        <div class="content-post padding" >
                            <h2>Sandblasting & Coating</h2>
                            <p>
                                In our desire to improve the level of service we offer even further, we have added sandblasting and coating to our package of services. We do this in a modern jet and spray booth. Our many years of experience in these sectors mean we are able to deliver a high-quality product. ESM always operates in accordance with all the applicable standards to give you the perfect appearance.
                            </p>
                            <p>
                                After carefully pre-treating your objects, we can also apply a coating if wished. We aim for the highest possible quality in our spray booth. Our equipment lets us reach every corner and get the coating thickness you desire. Naturally, we discuss with the customer beforehand which coating system would be most appropriate. The choice also takes into account such factors as the pressure from the surroundings to which your object/product will be exposed. In this respect, we receive support from the technical consultants working for the biggest international coating suppliers.
                            </p>
                            <p>
                                This surface treatment process is performed according to the standard ISO 12944.
                            </p>
                        </div>
                        <div class="content-post padding">
                            <h2>Powder Coating</h2>
                            <p>
                                Powder coating is a process by which electrically charged metal is coated with a powder of the opposite polarity. This is achieved with an electrostatic dusting gun. Electricity helps to attract the dust where it does not appear and to deduct where it was already applied. Due to the polyurethane composition, the powder functions as an insulator. During further applications, any extra layers drop off the covered part. This ensures an evenly distributed layer. This is then converted into an even layer of plastic during the polymerization at 180 ° C. Powder coating is available in all RAL colors.
                            </p>
                            <p>
                                All treatments are carried out in accordance with the applicable standards, so the number of layers and thickness in microns vary. ESM can control the thickness of the layers in accordance with the standard ISO 2360. If requested we can provide a paint report.</br>
                                These surface treatment processes ensure that we only deliver high-quality services to our customers.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 text-center" style="padding-top: 30px; padding-bottom: 30px;">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-3 col-md-3 col-sm-12 padding">
                    <img src="image/materials/Surface-treatment2.jpg" alt="Representation of the results of our Electro Galvanization process">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 padding">
                    <img src="image/materials/galvanising.jpg" alt="A result of our hot dip galvanizing process">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 padding">
                    <img src="image/materials/zinc-electroplating-02.jpg" alt="An example of products that were sandblasted and coated">
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include partials/footerscripts.ejs %>
</body>
</html>
