/* Media Queries
-------------------------------------------------------------- */

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
	.header-wrap-inner.style1 .header-top-logo ul {
		display: none;
	}
	
	header.style1 #mainnav > ul.menu > li {
	    margin-right: 30px;
	}
	footer.style1 .footer {
		overflow: hidden;
	}
	footer.style1 .widget-about, 
	footer.style1 .widget-links,
	.flat-sections .section-image .image-box {
        padding-left: 0;
	}

	 .main-blog-list .post .featured-post {
    	margin-right: 30px;
    }
    .main-blog-list .post .content-post p {
    	margin-top: 0;
    }
    .main-blog-list .post .content-post h4 {
    	margin-top: 10px;
    }
    .main-blog-list .post .content-post h4:before {
		width: 74%;
	}

	.main-blog-list .post .content-post h4:after {
		right: 70%;
	}

}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {

	.top-bar {
		padding: 10px 0;
	}

	.header-top-logo ul,
	.header-wrap-inner.style1,
	#mainnav-mobi ul > li > a i,
	.owl-carousel .owl-nav,
	.flat-welcome .image-inner,
	header.header-style2 .button-header,
	.mobi-hide,
	#mainnav ul.sub-menu > li {
		display: none;
	}

	header.style1 .header-wrap {
		position: static;
		bottom: unset;
		background: transparent;
		display: table;
	}


	header.style1 {
	    background-color: #fefefe;
	}

	header .nav-wrap ul.sub-menu li:hover, 
	header ul.sub-menu > li.active {
		background: transparent;		
	}

	#mainnav-mobi ul > li > a {
	    padding-left: 30px;
    	line-height: 60px;
    	height: 60px;
	}

	#mainnav-mobi ul.sub-menu > li , 
	#mainnav-mobi ul.sub-menu > li ul li {

	}

	.btn-submenu {
		height: 60px;
		line-height: 60px;
	}

	header.style1 .mobile-button {
		margin-top: -40px;
	    display: block;
	    position: absolute;
	    width: 26px;
	    height: 26px;
	    float: right;
	    top: 50%;
	    right: 15px;
	}

	header.style1 .search {
	    display: none;
	}

	header.style1 .header-button {
		display: none;
	}

	header .mobile-button {
		display: block;
	}

    footer.style1 .widget-about, 
	footer.style1 .widget-links {
		width: 33.33%;
		overflow: hidden;
	}

	footer.style1 .widget-links {
		margin-bottom: 60px;
	}

	.main-blog-list .post .featured-post {
		float: unset;
		margin-right: 0;
	}

	.main-blog-list .post .content-post {
		margin-top: 40px;
	}

	.main-blog-list .post .content-post p {
    	margin-top: 28px;
    }

    .main-blog-list .post .content-post h4 {
    	margin-top: 24px;
    }

    .main-blog-post,
    .flat-team,
    .flat-row.style2,
    .main-about .flat-company,
    .main-home1 .flat-company
    .main-home2 .flat-company {
    	padding: 100px 0 100px;
    }

    footer.style1,
    .main-about,
    .main-history,
    .flat-request .request-inner {
    	padding-top: 100px; 
    }

    footer.style1 .bottom-inner,
    .main-home2 {
    	margin-top: 100px;
    }

    .main-blog-list-small .post .featured-post {
    	float: none;
		margin-right: 0px;
		margin-bottom: 30px;
    }

	.flat-video .wrap-video,
	.title-section.style1,
	.flat-row .wrap-row,
	.flat-row span,
	.flat-section-2 .title-section h1,
	.one-of-two,
	.flat-sections .section-image .image-box,
	.flat-new-letter ,
	.flat-section .section-text {
		padding: 0;
	}

	.flat-testimonials ,
	.flat-testimonials ,
	.themesflat_sc_vc-teammembers .team-image img,
	.flat-post .featured-post img,
	.flat-welcome .image-wrap img,
	.flat-team .post .featured-post img,
	.flat-our-services.style1 .post .featured-post img,
	.flat-latest .featured-post img {
		width: 100%;
	}

}

/* Tablet Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.main-blog-single .main-author .image-author {
		float: unset;
	}

	.main-blog-single .main-author .info-author,
	.main-blog-single .blog-comments .post-comment,
	.flat-info {
		margin-top: 20px;
	}

	.main-blog-single .comment-respond .comment-form-author,
	.main-blog-post .featured-post img,
	.main-project-details .image-wrap img,
	.main-services .post .featured-post img,
	.main-blog-post .featured-post,
	.main-blog-list .post .featured-post,
	.main-blog-list .post .featured-post img,
	.flat-team .post .featured-post img {
		width: 100%;
	}

	.sidebar-inner .widget {
		padding: 47px 30px;
	}

}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

@media only screen and (max-width: 600px) {
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {	  	
	  	width: 100%;
	}


}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
	.main-blog-single .main-author {
		padding: 20px 20px;
	}
	.main-blog-single .social-wrap .text-button ul {
		margin-top: 10px;
	}


}

@media (max-width: 425px) {
    .top-bar .top-bar-language,
    .top-bar .top-bar-content {
    	width: 100%;
    	text-align: center;
    }

    footer.style1 .widget-about, 
	footer.style1 .widget-links,
	footer.style1 .widget-contact {
	    width: 100%;
	    overflow: hidden;
	    margin-bottom: 40px;
	}

	footer.style1 .widget:last-of-type {
		margin-bottom: 0;
	}

}
