
button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	background: #cb0000;
	font-weight: 600;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	position: relative;
	display: block;
	width: 100%;
	line-height: 24px;
	padding: 16px 38px; !important;
	color: #666d81;
	background-color: #f2f3f5; !important;
	border: 0px solid #f2f3f5;
	height: 78px;
	border-radius: 5px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border: 0px solid #f2f3f5;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

textarea {
	width: 100%;
	padding: 30px 39px;
	height: 224px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
	color: #666d81;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #666d81;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #666d81;
	opacity: 1;
}

/* title-section
-------------------------------------------------------------- */
.title-section.style1 {
	text-align: center;
	padding: 20px 200px;
}

.title-section.style2 {
	overflow: hidden;
}

.title-section h4 {
	margin-top: 23px;
	font-family: Quicksand Condensed;
	font-size: 16px;
	font-weight: 400;
	color: #666d81;
	letter-spacing: 3.2px;
}

.title-section h1 {
	font-family: Quicksand Condensed;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	color: #ffffff;
}

.title-section a {
	font-family: Quicksand Condensed;
	color: #ffffff;
}

.title-section a:hover {
    text-decoration: underline;
}

.title-section.style3 h4 {
	margin-top: 12px;
}

.title-section .text {
	margin-top: 40px;
}

.widget-service-post ul {
	list-style-type: none;
	margin: 0;
}

#footer .widget-service-post ul li {
	margin-bottom: 20px;
}

.main-blog-single .comment-form .comment-form-input {
	width: 100%;
	margin-top: 37px;
}

.main-blog-single .comment-form .comment-form-email {
	float: right;
	width: 50%;
	margin-top: 37px;
}

.main-blog-single .comment-form .submit-form button {
	padding: 28px 58px;
	margin-top: 11px;
	text-align: center;
	font-family: Roboto Condensed;
	font-size: 18px;
	line-height: unset;
	font-weight: 700;
	color: #ffffff;;
	border-radius: 4px;
	border: 1px solid #00438a;;
	background: #494949;
}

.main-blog-single .comment-form .submit-form button:hover {
	border: 1px solid #131d3b;
}


.widget-service-post ul {
	border: 1px solid #e7eaee;
	border-radius: 5px;
	overflow: hidden;
}


.widget-service-post ul a {
	display: block;
	position: relative;
	padding: 32px 70px 28px 49px;
	font-size: 18px;
	color: #131d3b;
}


.widget-service-post ul a:after {

	font-family: Quicksand;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 50px;
	background-color: #f2f3f5;
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	border-radius: 50%;
	color: #666d81;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.widget-service-post ul li:not(:last-child) a {
	border-bottom: 1px solid #e7eaee;
}

.widget-service-post ul a:hover,
.widget-service-post ul.flat-active li:nth-child(0) a {
	background-color: #202340;
	color: #fff;
}

.widget-service-post ul a:hover:after,
.widget-service-post ul.flat-active li:nth-child(0) a:after {
	background-color: #ff4f01;
	color: #fff;
}

.widget-service-post h6 {
	margin-bottom: 0;
	font-weight: 400;
}

.sidebar .widget.widget-service-post {
	padding: 0;
	border: none;
}

.widget-need-help {
	padding: 20px 44px 20px 49px;
	border-radius: 5px;
	background-color: #131d3b;
	margin-bottom: 29px;
}

/* flat-team
--------------------------------------------------------------*/
.flat-team {
	background-color: #aaaaaa;
	padding-bottom: 30px;
}

.flat-team .title-section.style1 h4 {
	margin-top: 12px;
}

.flat-team .post {
	margin-top: 58px;
}

.flat-team .post .featured-post {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.flat-team .post .featured-post:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	text-align: center;
	background-color: rgba(19, 29, 59, 0.9);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.flat-team .post .featured-post:hover:after,
.flat-team .post .featured-post.active:after {
	opacity: 1;
	height: 100%;
}

.flat-team .post .featured-post .social {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.flat-team .post .featured-post:hover .social {
	opacity: 1;
}

.flat-team .post .featured-post.active .social {
	opacity: 1;
}

.flat-team .post .featured-post .social li {
	display: inline-block;
	margin-right: 25px;
}

.flat-team .post .featured-post .social li:last-child {
	margin-right: 0;
}

.flat-team .post .featured-post .social li a {
	color: #fff;
}

.flat-team .post .featured-post .social li a:hover {
	color: #fff;
}

.flat-team .post .featured-post .social li.active a {
	color: #fff;
}

.flat-team .post .content-post span {
	font-family: Ubuntu;
	font-size: 20px;
	line-height: 26px;
	color: #fff;
	margin-top: 14px;
	display: inline-block;
}

.flat-team .post .content-post p {
	font-family: Ubuntu ;
	font-size: 12px;
	line-height: 26px;
	color: #fff;
	padding-bottom: 11px;
	position: relative;
	letter-spacing: 2.3px;
}

.flat-team .post .content-post span:hover,
.flat-team .post .content-post p:hover {
	color: #fff;
}

.flat-team .post .content-post p:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
	background-color: #e7eaee;
}





/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody,  tfoot, thead, time, tr, th, td, u, ul, var, video  {
		font-family: Ubuntu;
		font-size: 100%;
		font-weight: inherit;
		font-style: inherit;
		vertical-align: baseline;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}
	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

/* Repeatable Patterns
-------------------------------------------------------------- */
	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	body {
		font: 18px/30px "Ubuntu";
		font-weight: 400;
		background-color: #fefefe;
		color: #666d81;
	}

	a {
		text-decoration: none;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
	}

	a:hover,
	a:focus {
		color: #fff;
		text-decoration: none;
		outline: 0;
		-webkit-transition: all 0.3s ease-in-out;
		   -moz-transition: all 0.3s ease-in-out;
			-ms-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
	}

	ul, ol {
		padding: 0;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	.img-right {
		margin: 0 0 0 50px !important;
		float: right;
	}

	b, strong {
		font-weight: 900;
	}

	.entry-page p {
		margin-bottom: 25px;
	}

	button {
		border: none;
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
	    display: inline-block;
	    color: #fff;
	    font-size: 16px;
		padding: 5px;
		background: #c30000;
	    font-weight: 600;
	    position: relative;
	   -webkit-transition: all 0.3s ease-in-out;
	      -moz-transition: all 0.3s ease-in-out;
	       -ms-transition: all 0.3s ease-in-out;
	        -o-transition: all 0.3s ease-in-out;
	           transition: all 0.3s ease-in-out;
	}

/* bootstrap resetting elements
--------------------------------------------------------------*/
	.btn {
		background-image: none;
	}

	.dropdown-menu,
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
		-webkit-appearance: none;
		text-shadow: none;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		     -o-box-shadow: none;
		        box-shadow: none;
		color: #666d81;
	}

	.blog-single .entry p {
		margin-bottom: 30px;
	}

	.centar1{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.white {
		color: #fcfcfc;
	}
	.white a {
		color: #fafafa
	}

	.white h2 {
		color: #fcfcfc
	}

	.dots ul li {
		list-style: disc;
		margin-left: 25px;
		line-height: 20px;
	}

	.the_table th{
		color: #fff;
		border: 1px solid #000000;
	}
	.the_table th p {
		color: #dd0707;
	}
	.the_table td{
		border: 1px solid #000000;
	}


	h1, h2, h3, h4, h5, h6 {
		font-family: Quicksand Condensed;
		font-weight: 700;
		color: #00438a;
	}

	h1 { font-size: 26px; line-height: 26px; }
	h2 { font-size: 22px; line-height: 26px; }
	h3 { font-size: 18px; line-height: 20px; }
	h4 { font-size: 14px; line-height: 18px; }
	h5 { font-size: 12px; line-height: 26px; }
	h6 { font-size: 10px; line-height: 14px; }

	p{
		line-height: 20px;
	}

	/* header-style1*/
	header.style1 .header-wrap {
		height: 100px;
		border-bottom: 5px solid #00438a;
		background-color: #ffffff;
		border-radius: 4px;
		position: absolute;
	    margin-bottom: 0;
	    width: 100%;
	    left: 0;
	    z-index: 9999;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}

	header.style1 .nav-wrap {
		padding-top: 10px;
		float: right;
		display: table-cell;
	}

	header.style1 .nav-wrap  ul.menu > li {
	    position: relative;
		padding: 24px 0;
	}

	header.style1 #mainnav > ul.menu {
		margin-left: 23px;
	}

	header.style1 #mainnav > ul.menu > li {
	 	display: inline-block;
	 	margin-right: 31px;
	}

	#mainnav > ul.menu > li > a > i,
	#mainnav2 > ul.menu > li > a > i {
		font-size: 10px;
		padding-left: 5px;
	}

	#mainnav ul.menu li a,
	#mainnav2 ul.menu li a {
		color: #666d81;
	}

	#mainnav ul.menu li a,
	#mainnav2 ul.menu li a {
	    font-family: Quicksand Condensed;
	    font-size: 20px;
	    font-weight: 400;
	    color: #666d81;
	}

	header.header-style2 #mainnav > ul.menu > li > a,
	header.header-style2 #mainnav2 > ul.menu > li > a {
		color: #666d81;
	}

	header.style1 #mainnav ul.menu > li > a:hover {
		color: #24448a;
	}

	header.style1 .nav-wrap #mainnav > ul > li.active > a {
		color: #fff;
		font-weight: 700;
	}

	#mainnav ul.sub-menu,
	#mainnav2 ul.sub-menu {
		position: absolute;
		left: -30px;
		top: 150%;
		width: 258px;
		text-align: left;
		background-color: #ffffff;
		z-index: 9999;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		visibility: hidden;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}

	#mainnav ul li:hover > ul.sub-menu,
	#mainnav2 ul li:hover > ul.sub-menu {
	    top: 100%;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    filter: alpha(opacity=100);
	    opacity: 1;
	    visibility: visible;
	}

	#mainnav ul.sub-menu li ul,
	#mainnav2 ul.sub-menu li ul {
	    position: absolute;
	    left: 100%;
	    top: 0 !important;
	    -webkit-box-shadow: 0px 1px 16px 0px rgba(19, 29, 59, 0.5);
	    -moz-box-shadow: 0px 1px 16px 0px rgba(19, 29, 59, 0.5);
	    box-shadow: 0px 1px 16px 0px rgba(19, 29, 59, 0.5);
	    -webkit-transition: all 0.3s ease-in-out;
	    background-color: #fff;
	    border-radius: 0 0 5px 5px;
	}

	#mainnav ul.sub-menu > li,
	#mainnav2 ul.sub-menu > li {
		position: relative;
	    padding: 10px 0 9px 40px;
	    line-height: 45px;
	    border-bottom: 1px solid #f3f4f5;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out
	}

	#mainnav ul.sub-menu > li:last-child,
	#mainnav2 ul.sub-menu > li:last-child {
		border-bottom: none;
	}

	#mainnav ul.sub-menu li a,
	#mainnav2 ul.sub-menu li a {
		color: #666d81;
	}

	#mainnav ul.sub-menu li:hover > a,
	#mainnav ul.sub-menu > li.active > a,
	#mainnav2 ul.sub-menu li:hover > a,
	#mainnav2 ul.sub-menu > li.active > a {
		color: #fff;
	}

	#mainnav ul.sub-menu li.has-children > a:after,
	#mainnav2 ul.sub-menu li.has-children > a:after {
		content: "\f0da";
	    font-family: "FontAwesome";
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 35px;
	}

	header .nav-wrap ul.sub-menu li:hover,
	header ul.sub-menu > li.active {
		background: #00438a;
	}

	header.style1 .header-button {
		float: right;
		display: table-cell;
		background-color: #fff;
		border-radius: 0 4px 4px 0;
	}

	header.style1 .header-button h3 a {
		font-family: Ubuntu;
		font-size: 18px;
		line-height: unset;
		font-weight: 700;
		color: #131d3b;
		padding: 29px 60px;
		border-radius: 0px 4px 4px 0px;
	}

/* page title
--------------------------------------------------------------*/

	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.overlay1 {
		background-color: rgba(19,29,59,0.6);
	}


/* pagination
-------------------------------------------------------------- */
    .blog-pagination {
        text-align: center;
    }

    .blog-pagination ul {
        margin-top: 50px;
    }

    .blog-pagination ul li {
        display: inline-block;
        margin: 0 3px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 40px;
        background-color: #f2f3f5;
              -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .blog-pagination ul li:hover {
        background-color: #00438a;
    }

    .blog-pagination ul li.active {
        background-color: #00438a;
    }

    .blog-pagination ul li a {
        color: #666d81;
              -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .blog-pagination ul li:hover a {
        color: #fff;
    }

    .blog-pagination ul li.active a {
        color: #fff;
    }

/* footer
--------------------------------------------------------------*/

	footer.style1 {
		background-color: #00438a;
		padding: 30px 0 0 0;
	}

	footer.style1 .widget-about,
	footer.style1 .widget-links {
		width: 30%;
		float: left;
	}

	footer.style1 .widget-links li{
		color: #b6bbcc;
	}

	footer.style1 .widget-links {
		margin-left: 30px;
	}


	footer.style1 .widget-menu h2 {
		font-family: Quicksand;
		font-size: 24px;
		font-weight: 400;
		color: #fff;
	}

	footer.style1 .widget-menu ul {
		margin-top: 21px;
	}

	footer.style1 .widget-menu ul li {
		display: block;
	}

	footer.style1 .widget-menu ul li a {
		font-family: Ubuntu;
		font-size: 18px;
		line-height: 40px;
		font-weight: 400;
		color: #b6bbcc;
		-webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}

	footer.style1 .widget-menu ul li.active a {
		color: #00438a;
	}

	footer.style1 .widget-menu ul li.active a:hover {
		margin-left: 0;
	}

	footer.style1 .widget-menu ul li a:hover {
		color: #fff;
		margin-left: 5px;
	}

	footer.style1 .bottom-inner {
		text-align: center;
		padding: 10px 0;
		border-top: 1px solid #2b344f;
		margin-top: 30px;
		position: relative;
	}

	footer.style1 .bottom-inner:before,
	footer.style1 .bottom-inner:after,
	.line-border:before,
	.line-border:after {
	    content: '';
	    position: absolute;
	    top: -1px;
	    height: 1px;
	    width: 20px;
	    background-color: #00438a;
	}


	footer.style1 .bottom-inner:before,
	.line-border:before {
		left: 0;
	}

	footer.style1 .bottom-inner:after,
	.line-border:after {
		right: 0;
	}

	footer.style1 .bottom-inner p,
	footer.style1 .bottom-inner p a {
		font-family: Ubuntu;
		font-size: 16px;
		font-weight: 400;
		color: #b6bbcc;
	}

	footer.style1 .bottom-inner p a:hover {
		color: #fff;
	}

	footer.style1 .bottom-inner:before {
	  font-family: 'Quicksand' !important;
	}

/* blog list
--------------------------------------------------------------*/

article .featured-post {
	position: relative;
}

article .featured-post .post-img {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}

article .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(19, 29, 59, 0.7);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article:hover .overlay {
	visibility: visible;
	opacity: 1;
}

article .overlay:before,
article .overlay:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: #fff;
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

article .overlay:before {
	width: 30px;
	height: 2px;
	left: 0;
}

article .overlay:after {
	height: 30px;
	width: 2px;
	top: 0;
}

article:hover .overlay:before {
	left: 50%;
	opacity: 1;
}

article:hover .overlay:after {
	top: 50%;
	opacity: 1;
}

article .featured-post img,
.themesflat_sc_vc-teammembers:hover .team-image img {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

article:hover .featured-post img,
.themesflat_sc_vc-teammembers:hover .team-image img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

	.main-blog-post {
		padding: 120px 0 118px;
	}

	.main-blog-post .post {
		margin-bottom: 47px;
	}

	.main-blog-post .meta-post-shared {
		margin-top: 24px;
	}

	.lineheight p {
		line-height: 20px;
		padding-top: 5px;
		font-size: 18px;
	}

	.contactbtn {
		width: 272px;
		height: 48px;
	}

	.main-blog-post .post .content-post h3 {
		margin-top: 3px;
	}

	.main-blog-post .post .content-post h3 a {
	   font-family: Roboto Condensed;
	   font-size: 26px;
	   line-height: 40px;
	   font-weight: 400;
	   color: #131d3b;
	}

	.main-blog-post .post .content-post h3 a:hover {
		color: #00438a;
	}

	.main-blog-post .post .content-post p {
		font-family: Ubuntu;
		font-size: 16px;
		line-height: 30px;
		font-weight: 400;
		color: #666d81;
		margin-top: 28px;
		padding-bottom: 30px;
	}

	.main-blog-post .post .content-post h4 {
		position: relative;
		margin-top: 24px;
	}

	.box-line {
	    display: flex;
	}

	.box-line .line {
	    position: relative;
	    width: 100%;
	    margin: 0 !important;
	    margin-left: 8px !important;
	    padding: 0 !important;
	}

	.box-line .line:after,
	.box-line .line:before {
	    content: "";
	    height: 1px;
	    width: 100%;
	    left: 0;
	    background-color: #e7eaee;
	    position: absolute;
	    top: 50%;
        -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}

	.box-line .line:before {
	    left: 0;
	    width: 20px;
	    background-color: #00438a;
	    z-index: 1;
	}

	.box-line a:hover+.line:before,
	.box-line.active .line:before {
	    left: calc(100% - 20px);
	}

	.box-line > a  {
	    white-space: nowrap;
	}

	.main-blog-post .blog-pagination {
	    margin-top: -47px;
	}


/* main blog single
--------------------------------------------------------------*/

	.main-blog-single {
		padding: 120px 0;
	}

	.main-blog-single .post .content-post h2 a {
		font-family: Roboto Condensed;
		font-size: 26px;
		line-height: 40px;
		font-weight: 400;
		color: #131d3b;
	}

	.main-blog-single .post .content-post h2 a:hover {
		color: #fff;
	}

	.title1 h1 {
		font-size: 30px;
		color: #00438a;
	}

	.padding p {
		padding-bottom: 30px;
	}

	.padding ul {
		padding-bottom: 30px;
	}

	.padding h2 {
		padding-bottom: 30px;
	}

	.padding img {
		padding-bottom: 30px;
	}

	.marg {
		margin-bottom: 10px;
	}

	.main-blog-single .post .content-post p {
		font-family: Ubuntu ;
		font-size: 18px;
		line-height: 20px;
		font-weight: 400;
		color: #666d81;
	}
	.main-blog-single .post .content-post th {
		background-color: #777777;
		vertical-align: middle;
	}
	.main-blog-single .post .content-post td {
		background-color: #fff;
		vertical-align: middle;
		color: #000000;
	}
	.main-blog-single .post .content-post td p {
		padding: 5px 0;
		color: #000000;
	}
	.main-blog-single .post .content-post td img {
		padding: 0;
	}
	.main-blog-single .post .content-post th p {
		padding-top: 5px;
		color: #ffffff;
	}
	.main-blog-single .post .content-post th h2{
		color: #fff;
		padding: 20px 20px;
	}


	.darkbluehover a:hover {
		color: #131d3b;
	}

/* flat slider
--------------------------------------------------------------*/

	/* main home2*/
	.main-home2 .flat-our-services .title-section h4 {
		margin-top: 13px;
	}


	.flat-contact .submit-form button:hover {
		border: 1px solid #131d3b;
	}

	.flat-contact .sidebar-info .text-info li {
		border-bottom: 1px solid #e7eaee;
	    padding-bottom: 14px;
	    margin-bottom: 30px;
	}

	.flat-contact .sidebar-info .widget-img {
		float: left;
		margin-right: 30px;
	}

	.flat-contact .sidebar-info .widget-text {
		overflow: hidden;
	}

	.flat-contact .sidebar-info .text-social li {
		float: left;
	    display: inline-block;
	    margin-right: 35px;
	}


	.flat-contact .sidebar-info .flat-widget_text ul li .title {
	    font-size: 20px;
	    margin-bottom: 15px;
	}

	.flat-contact .sidebar-info .flat-widget_text ul li p {
	    line-height: 26px;
	}

	.flat-contact .sidebar-info .flat-widget_text ul li {
	    clear: both;
	    padding-bottom: 53px;
	    border-bottom: 1px solid #e7eaee;
	    margin-bottom: 56px;
	    position: relative;
	}

	.flat-contact .sidebar-info .flat-widget_text ul li::after {
	    content: '';
	    background-color: #00438a;
	    width: 20px;
	    height: 1px;
	    position: absolute;
	    left: 0;
	    bottom: -1px;
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}

	.flat-contact .sidebar-info .flat-widget_text ul li:hover::after {
	    left: calc(100% - 20px);
	}

	.flat-map {
		height: 558px;
		position: relative;
	    overflow: hidden;
	}

	.flat-contact {
		position: relative;
		overflow: hidden;
	}

	header.fixed-header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 3;
	}

	header.style1.fixed-header .header-wrap {
		bottom: unset;
	}


	.post-menu.active .meta-post-shared ul li.hover a {
		color: #b6bbcc;
	}

	.post-menu.active .meta-post-shared ul li.hover a:hover,
	.post-menu:hover .meta-post-shared ul li.hover a:hover,
	.post-menu .meta-post-shared ul li.hover a:hover {
		color: #00438a;
	}

	.post-menu:hover .meta-post-shared ul li.hover a {
		color: #b6bbcc;
	}

/* mobile button
--------------------------------------------------------------*/
	.mobile-button {
	    display: none;
	    position: absolute;
	    width: 26px;
	    height: 26px;
	    float: right;
	    top: 50%;
	    right: 0;
	    z-index: 1;
	    background-color: transparent;
	    cursor: pointer;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	    -o-transition: all 0.3s ease;
	    transition: all 0.3s ease;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	}

	.mobile-button:before,
	.mobile-button:after,
	.mobile-button span {
	    background-color:#24448a;
	    -webkit-transition:all ease 0.3s;
	    -moz-transition:all ease 0.3s;
	    transition:all ease 0.3s;
	}

	.mobile-button:before,
	.mobile-button:after {
	    content:'';
	    position:absolute;
	    top:0;
	    height:3px;
	    width:100%;
	    left:0;
	    top:50%;
	    -webkit-transform-origin:50% 50%;
	    -ms-transform-origin:50% 50%;
	    transform-origin:50% 50%;
	}

	.mobile-button span {
	    position:absolute;
	    width:100%;
	    height:3px;
	    left:0;
	    top:50%;
	    overflow:hidden;
	    text-indent:200%;
	}

	.mobile-button:before {
	    -webkit-transform:translate3d(0,-7px,0);
	    -moz-transform:translate3d(0,-7px,0);
	    transform:translate3d(0,-7px,0);
	}

	.mobile-button:after {
	    -webkit-transform:translate3d(0,7px,0);
	    -moz-transform:translate3d(0,7px,0);
	    transform:translate3d(0,7px,0);
	}

	.mobile-button.active span {
	    opacity:0;
	}

	.mobile-button.active:before {
	    -webkit-transform:rotate3d(0,0,1,45deg);
	    -moz-transform:rotate3d(0,0,1,45deg);
	    transform:rotate3d(0,0,1,45deg);
	}

	.mobile-button.active:after {
	    -webkit-transform:rotate3d(0,0,1,-45deg);
	    -moz-transform:rotate3d(0,0,1,-45deg);
	    transform:rotate3d(0,0,1,-45deg);
	}

	.btn-submenu {
	    position: absolute;
	    right: 0;
	    top: 0;
	    font: 20px/50px 'FontAwesome';
	    text-align: center;
	    cursor: pointer;
	    width: 70px;
	    height: 44px;
        -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    transition: all 0.3s
	}

	.btn-submenu:before {
	    content: "▼";
	    color: #fff;
	}

	.btn-submenu.active {
		content: "-";
	    transform: rotate(-180deg);
	}

/* mobile navigation
--------------------------------------------------------------*/
	#mainnav-mobi {
	    display: none;
	    margin: 0 auto;
	    width: 100%;
	    position: absolute;
	    background-color: #222222;
	    z-index: 1000;
	    top:-5px;
	    left: 0;
	}

	#mainnav-mobi ul {
		font-size: 14px;
	    display: block;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	#mainnav-mobi ul li {
	    margin-bottom: 0px;
	    position: relative;
	    text-align: left;
	    border-top: 1px solid #333333;
	    cursor: pointer;
	    padding: 0 0;
	}

	#mainnav-mobi ul > li > a {
	    text-decoration: none;
	    height: 30px;
	    line-height: 45px;
	    padding: 0 15px;
	    color: #fff;
	}

	#mainnav-mobi ul.sub-menu {
	    top: 100%;
	    left: 0;
	    z-index: 2000;
	    position: relative;
	    background-color: #333333;
	    width: 100%;
	    padding-left: 25px;
	    opacity: 1;
	    visibility: visible;
	    -webkit-transition: all 0s ease-in-out;
	    -moz-transition: all 0s ease-in-out;
	    -ms-transition: all 0s ease-in-out;
	    -o-transition: all 0s ease-in-out;
	    transition: all 0s ease-in-out;
	}

	#mainnav-mobi > ul > li > ul > li,
	#mainnav-mobi > ul > li > ul > li > ul > li {
	    position: relative;
	    border-top: 1px solid #333333;
	}

	#mainnav-mobi > ul > li > ul > li > ul > li a {
	    padding-left: 30px !important
	}

	#mainnav-mobi ul.sub-menu > li > a {
	    display: block;
	    text-decoration: none;
	    border-top-color: rgba(255,255,255,.1);
	    -webkit-transition: all 0.3s ease-out;
	    -moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    transition: all 0.3s ease-out;
	}

	#mainnav-mobi > ul > li > ul > li:first-child a {
	    border-top: none;
	}

	#mainnav-mobi ul.sub-menu > li > a:hover,
	#mainnav-mobi > ul > li > ul > li.active > a {
	    color: #fff;
	}

	#nav-mobi ul li {
	    position: relative;
	}

	#nav-mobi ul li a {
		padding-left: 20px;
	    line-height: 40px;
	    height: 40px;
        color: #fff;
	}

	#nav-mobi .btn-submenu {
	    height: 40px;
	    line-height: 40px;
	}

	#nav-mobi ul.sub-menu li {
		padding-left: 20px;
	}

	#nav-mobi ul.sub-menu {
		background-color: #333333;
	}

/* go top
-------------------------------------------------------------- */
    #scroll-top {
        position: fixed !important;
        right: 6px;
        bottom: -50px;
        display: block;
        line-height: 50px;
        text-align: center;
        width: 50px;
        height: 50px;
        visibility: hidden;
        filter: alpha(opacity=0);
        opacity: 0;
        z-index: 7779;
        cursor: pointer;
        z-index: 1;
        overflow: hidden;
        border-radius: 5px;
        background: #0043b2;
        color: #fff;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
    }

    #scroll-top:hover {
        background-color: #131d3b;
    }

    #scroll-top.show {
        bottom: 60px;
        filter: alpha(opacity=100);
        opacity: 1;
        visibility: visible;
    }

	/* hover */
	/*hover-style1*/
	.hvr-shutter-out-vertical {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		background: #f2f3f5;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		overflow: hidden;
	}

	.hvr-shutter-out-vertical:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #494949;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
		color: #fff !important;
	}

	.hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	/*hover-style2*/
	.hvr-shutter-out-verticall {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		overflow: hidden;
	}

	.hvr-shutter-out-verticall:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #131d3b;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.hvr-shutter-out-verticall:hover, .hvr-shutter-out-verticall:focus, .hvr-shutter-out-verticall:active {
		color: #fff !important;
	}

	.hvr-shutter-out-verticall:hover:before, .hvr-shutter-out-verticall:focus:before, .hvr-shutter-out-verticall:active:before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

	.img-hover img {
	    transition: all 1s ease;
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -o-transition: all 1s ease;
	}

	.img-hover img:hover {
	    transform: scale(1.1,1.1);
	    -webkit-transform: scale(1.1,1.1);
	    -moz-transform: scale(1.1,1.1);
	    -o-transform: scale(1.1,1.1);
	    -ms-transform: scale(1.1,1.1);
	}

	.straight {
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	}

	a.download {
		display: block;
		text-align: center;
		margin: 6px 5px;
		background-color: #494949;
		border-radius: 5px;
		color: #fff;
		font-size: 18px;
		line-height: 80px;
		font-weight: 700;
	}

	a.download.bg-green {
		background: #131d3b;
	}
	/*hover-style2*/
	.hvr-shutter-out-verticall {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		overflow: hidden;
	}

	.hvr-shutter-out-verticall:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #131d3b;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.3s;
		transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.hvr-shutter-out-verticall:hover, .hvr-shutter-out-verticall:focus, .hvr-shutter-out-verticall:active {
		color: #fff !important;
	}

	.hvr-shutter-out-verticall:hover:before, .hvr-shutter-out-verticall:focus:before, .hvr-shutter-out-verticall:active:before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}

/* Media Queries
-------------------------------------------------------------- */

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
    .header-wrap-inner.style1 .header-top-logo ul {
        display: none;
    }

    header.style1 #mainnav > ul.menu > li {
        margin-right: 13px;
    }
    footer.style1 .footer {
        overflow: hidden;
    }
    footer.style1 .widget-about,
    footer.style1 .widget-links,
    .flat-sections .section-image .image-box {
        padding-left: 0;
    }

    .main-blog-list .post .featured-post {
        margin-right: 30px;
    }
    .main-blog-list .post .content-post p {
        margin-top: 0;
    }
    .main-blog-list .post .content-post h4 {
        margin-top: 10px;
    }
    .main-blog-list .post .content-post h4:before {
        width: 74%;
    }

    .main-blog-list .post .content-post h4:after {
        right: 70%;
    }

}

/* Smaller than standard 992 */
@media only screen and (max-width: 991px) {

    .top-bar {
        padding: 10px 0;
    }

    .header-top-logo ul,
    .header-wrap-inner.style1,
    #mainnav-mobi ul > li > a i,
    .owl-carousel .owl-nav,
    .flat-welcome .image-inner,
    header.header-style2 .button-header,
    .mobi-hide,
    #mainnav ul.sub-menu > li {
        display: none;
    }

    header.style1 .header-wrap {
        position: static;
        bottom: unset;
        background: transparent;
        display: table;
    }


    header.style1 {
        background-color: #fefefe;
    }

    header .nav-wrap ul.sub-menu li:hover,
    header ul.sub-menu > li.active {
        background: transparent;
    }

    #mainnav-mobi ul > li > a {
        padding-left: 30px;
        line-height: 60px;
        height: 60px;
    }

    #mainnav-mobi ul.sub-menu > li ,
    #mainnav-mobi ul.sub-menu > li ul li {

    }

    .btn-submenu {
        height: 60px;
        line-height: 60px;
    }

    header.style1 .mobile-button {
        margin-top: -40px;
        display: block;
        position: absolute;
        width: 26px;
        height: 26px;
        float: right;
        top: 50%;
        right: 15px;
    }

    header.style1 .search {
        display: none;
    }

    header.style1 .header-button {
        display: none;
    }

    header .mobile-button {
        display: block;
    }

    footer.style1 .widget-about,
    footer.style1 .widget-links {
        width: 33.33%;
        overflow: hidden;
    }

    footer.style1 .widget-links {
        margin-bottom: 60px;
    }

    .main-blog-list .post .featured-post {
        float: unset;
        margin-right: 0;
    }

    .main-blog-list .post .content-post {
        margin-top: 40px;
    }

    .main-blog-list .post .content-post p {
        margin-top: 28px;
    }

    .main-blog-list .post .content-post h4 {
        margin-top: 24px;
    }

    .main-blog-post,
    .flat-team,
    .flat-row.style2,
    .main-about .flat-company,
    .main-home1 .flat-company
    .main-home2 .flat-company {
        padding: 100px 0 100px;
    }

    footer.style1,
    .main-about,
    .main-history,
    .flat-request .request-inner {
        padding-top: 100px;
    }

    footer.style1 .bottom-inner,
    .main-home2 {
        margin-top: 100px;
    }

    .main-blog-list-small .post .featured-post {
        float: none;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .flat-video .wrap-video,
    .title-section.style1,
    .flat-row .wrap-row,
    .flat-row span,
    .flat-section-2 .title-section h1,
    .one-of-two,
    .flat-sections .section-image .image-box,
    .flat-new-letter ,
    .flat-section .section-text {
        padding: 0;
    }

    .flat-testimonials ,
    .flat-testimonials ,
    .themesflat_sc_vc-teammembers .team-image img,
    .flat-post .featured-post img,
    .flat-welcome .image-wrap img,
    .flat-team .post .featured-post img,
    .flat-our-services.style1 .post .featured-post img,
    .flat-latest .featured-post img {
        width: 100%;
    }

}

/* Tablet Landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    .main-blog-single .main-author .image-author {
        float: unset;
    }

    .main-blog-single .main-author .info-author,
    .main-blog-single .blog-comments .post-comment,
    .flat-info {
        margin-top: 20px;
    }

    .main-blog-single .comment-respond .comment-form-author,
    .main-blog-post .featured-post img,
    .main-project-details .image-wrap img,
    .main-services .post .featured-post img,
    .main-blog-post .featured-post,
    .main-blog-list .post .featured-post,
    .main-blog-list .post .featured-post img,
    .flat-team .post .featured-post img {
        width: 100%;
    }

    .sidebar-inner .widget {
        padding: 47px 30px;
    }

}

/* Mobile Landscape Size */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 600px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
    }


}

/* Mobile Portrait Size */
@media only screen and (max-width: 479px) {
    .main-blog-single .main-author {
        padding: 20px 20px;
    }
    .main-blog-single .social-wrap .text-button ul {
        margin-top: 10px;
    }


}

@media (max-width: 425px) {
    .top-bar .top-bar-language,
    .top-bar .top-bar-content {
        width: 100%;
        text-align: center;
    }

    footer.style1 .widget-about,
    footer.style1 .widget-links,
    footer.style1 .widget-contact {
        width: 100%;
        overflow: hidden;
        margin-bottom: 40px;
    }

    footer.style1 .widget:last-of-type {
        margin-bottom: 0;
    }

}

/* flat-table
-------------------------------------------------------------- */
.themesflat_sc_vc-table .table-simple th {
	font-family:Roboto Condensed;
	font-weight:400;
	font-style:normal;
}

.themesflat_sc_vc-table.table-responsive {
	color: #666d81;
	font-size: 1rem;
	line-height: 1.5;
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.themesflat_sc_vc-table .table-simple th {
	padding-top: 20px;
	padding-bottom: 20px;
}

.themesflat_sc_vc-table  .table-simple  td {
	padding-top: 25px;
	padding-bottom: 32px;
}

.themesflat_sc_vc-table  .table-simple thead {
	background-color: #f2f3f5;
	color: #131d3b;
	font-size: 18px;
}

.themesflat_sc_vc-table  .table-simple  thead tr,
.themesflat_sc_vc-table  .table-simple  thead th {
	border-color: transparent;
}

.themesflat_sc_vc-table  .table-simple   tr  {
	border-left: 1px solid #f2f3f5;
	border-right: 1px solid #f2f3f5;
}

.themesflat_sc_vc-table  .table-simple  th,
.themesflat_sc_vc-table  .table-simple  td {
	border:unset;
	border-bottom:1px solid #f2f3f5;

}

.themesflat_sc_vc-table  .table-simple  th:nth-child(1),
.themesflat_sc_vc-table  .table-simple  td:nth-child(1)  {
	padding-left: 25px;
	min-width: 461px;
}

.themesflat_sc_vc-table  .table-simple  th:nth-child(2),
.themesflat_sc_vc-table  .table-simple  td:nth-child(2)  {
	min-width: 207px;
}
.themesflat_sc_vc-table  .table-simple  th:nth-child(3),
.themesflat_sc_vc-table  .table-simple  td:nth-child(3)  {
	min-width: 207px;
}
.themesflat_sc_vc-table  .table-simple  th:nth-child(4),
.themesflat_sc_vc-table  .table-simple  td:nth-child(4)  {
	min-width: 250px;
}
.themesflat_sc_vc-table  .table-simple  th:nth-child(5),
.themesflat_sc_vc-table  .table-simple  td:nth-child(5)  {
	min-width: 250px;
}

.themesflat_sc_vc-table.tb-text-left th,
.themesflat_sc_vc-table.tb-text-left td {
	text-align: left;
}

.themesflat_sc_vc-table.tb-text-right th,
.themesflat_sc_vc-table.tb-text-right td {
	text-align: right;
}
.themesflat_sc_vc-table.tb-text-center th,
.themesflat_sc_vc-table.tb-text-center td {
	text-align: center;
}

.tooltip {
	position: relative;
	display: inline-block;

}

.tooltip .tooltiptext {
	visibility: hidden;
	top: -5px;
	right: 105%;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}