<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs%>
    <script src="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"></script>
</head>
<body>

<% include ../partials/header2.ejs %>
<div class="main-blog-single" style="padding-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <% include sidebar.ejs %>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12">
                <h1>Create</h1>
                <a href="/admin/production" class="download hvr-shutter-out-verticall contactbtn" style="line-height: 45px">List</a>

                <form  ref='uploadForm'
                       id='uploadForm'
                       class="comment-form"
                       action="/admin/production/create"
                       method="post"
                       encType="multipart/form-data"
                >
                    <p class="comment-form-input">
                        <label>Title</label>
                        <input  name="title" type="text" placeholder="Title" required="required">
                    </p>
                    <p class="comment-form-input">
                        <label>Short title</label>
                        <input  name="short_title" type="text" placeholder="Short title" required="required">
                    </p>
                    <p class="comment-form-input">
                        <label>Language</label>
                        <select name="lang">
                            <option value="en">en</option>
                            <option value="de">de</option>
                        </select>
                    </p>
                    <p class="comment-form-input">
                        <label>Image</label>
                        <input type="file" name="img" id="input-8">
                    </p>
                    <div class="clearfix"></div>
                    <p class="comment-form-input">
                        <label>Content Text</label>
                        <textarea  name="content_text" placeholder="Content Text" required="required"></textarea>
                        <script>
                            CKEDITOR.replace( 'content_text' );
                        </script>
                    </p>
                    <p class="comment-form-input">
                        <label>Gallery</label>
                        <input type="file" name="gallery" id="gal" multiple>
                    </p>
                    <p class="submit-form">
                        <button name="submit" type="submit"  class="submit hvr-shutter-out-verticall" >Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include ../partials/footerscripts.ejs %>
<script >
    $(document).ready(function() {
        $("#input-5").fileinput({showCaption: false});

        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg",
            showCaption: true
        });

        $("#input-8").fileinput({
            mainClass: "input-group-md",
            showUpload: true,
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"icon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"icon-trash\"></i> ",
            uploadClass: "btn btn-info",
            uploadLabel: "Upload",
            uploadIcon: "<i class=\"icon-upload\"></i> "
        });

        $("#input-9").fileinput({
            previewFileType: "text",
            allowedFileExtensions: ["txt", "md", "ini", "text"],
            previewClass: "bg-warning",
            browseClass: "btn btn-primary",
            removeClass: "btn btn-secondary",
            uploadClass: "btn btn-secondary",
        });

        $("#input-10").fileinput({
            showUpload: false,
            layoutTemplates: {
                main1: "{preview}\n" +
                    "<div class=\'input-group {class}\'>\n" +
                    "   <div class=\'input-group-append\'>\n" +
                    "       {browse}\n" +
                    "       {upload}\n" +
                    "       {remove}\n" +
                    "   </div>\n" +
                    "   {caption}\n" +
                    "</div>"
            }
        });

        $("#input-11").fileinput({
            maxFileCount: 10,
            allowedFileTypes: ["image", "video"]
        });

        $("#input-12").fileinput({
            showPreview: false,
            allowedFileExtensions: ["zip", "rar", "gz", "tgz"],
            elErrorContainer: "#errorBlock"
        });
    });

</script>
</body>
</html>
