<div class="sidebar-wrap sidebar">
    <div class="widget-need-help">
        <h4 class="heading" style="color: #b3b7bf">Hello, <%= user ? user.name : "User"%></h4>
    </div>
    <div class="widget widget-service-post">
        <ul class="list-post-service flat-active clearfix">
            <li>
                <h6 class="heading"><a href="/admin/news" rel="bookmark">News</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/contact" rel="bookmark">Contact</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/about" rel="bookmark">About</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/production" rel="bookmark">Production</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/products" rel="bookmark">Products</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/users" rel="bookmark">Users</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/images" rel="bookmark">Images</a></h6>
            </li>
            <li>
                <h6 class="heading"><a href="/admin/downloads" rel="bookmark">Downloads</a></h6>
            </li>
        </ul>
    </div>
</div>